.container{
  display: flex;
justify-content:center;
}

.App{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px ;
  grid-template-rows: 100px 100px 100px 100px;
   grid-gap: 3px ;
   margin-top: 30px;
}


.box{
  height: 100px;
  width: 100px;
  border: 0.5px solid grey;
  margin-left: 1px;
}